---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Presentation, Code2, UserPlus2, UsersRound } from "lucide-astro";
---

<Layout
	description="The main page for the Troy Web Development club"
	title="Troy Web Dev"
>
	<p id="about" class="center">Learn & develop</p>
	<ul id="cards">
	<Card title="Why you should join" icon={UsersRound}>
		<ul>
			<li>You will know the tools to put yourself out on the internet!</li>
			<li>Can be used for college resumes and job opportunities</li>
			<li>Build upon Computer Science skills!</li>
			<li>Learn new programming languages!</li>
			<li>Build up your digital portfolio!</li>
		</ul>
	</Card>
	<Card title="Headstart at CS" icon={Presentation}>
		Anyone can join and learn the basics or advanced techniques of how to design, construct, and use websites to their fullest potential! We will show freshman or anyone new to Computer Science the ropes and give them a head start in APCSP, or give them assistance in their Troy Tech Computer Science Pathway!
		<ul>
			<li>
			Hi
			</li>
			<li>
			Sentir
			</li>
		</ul>
	</Card>
	<Card title="Opportunities" icon={Code2}> 
		We will train you with the tools and knowledge of how to produce useful websites, help you collaborate with others, help you create and set up a digital portfolio, & offer you opportunities for competitions.
	</Card>
	</ul>
</Layout>
<style>
	a {
		text-decoration: none;
		color: white;
	}
	#about {
		font-size: 48pt;
		font-family: VT323;
		margin: 0;
	}
	#join {
		text-decoration: underline wavy 2px;
		text-decoration-skip-ink: none;
		font-size: 32pt;
	}
	#cards {
		display: block;
		list-style: none;
		gap: 10px;
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 0;
	}
</style>
