---
interface Props {
	title: string;
	body: string;
	icon?: any;
}

const { title, body, icon = null } = Astro.props;
const Icon = icon;
---

<li class="card">
	<h2>
		{
			icon !== null && (
				<span>
					<Icon class="icon" />
				</span>
			)
		}{title}
	</h2>
	<p class="center">
		{body}
	</p>
</li>
<style>
	.icon {
		width: 25;
		padding-right: 5px;
	}
	
	.card h2 {
		text-align: center;
	}

	.card {
		width: 800px;
		border-radius: 30px;
		border: 2px solid white;
		padding: 10px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.card p {
		font-size: 20px;
	}
</style>
